<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
		<string>DocFetcher</string>
	<key>CFBundleGetInfoString</key>
		<string>DocFetcher 1.1.16 for Mac OS X</string>
	<key>CFBundleIconFile</key>
		<string>DocFetcher.icns</string>
	<key>CFBundleIdentifier</key>
		<string>net.sourceforge.docfetcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	<key>CFBundleName</key>
		<string>DocFetcher</string>
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleShortVersionString</key>
		<string>1.1.16</string>
	<key>CFBundleSignature</key>
		<string>?????</string>
	<key>CFBundleVersion</key>
		<string>20150906-2301</string>
	<key>NSPrincipalClass</key>
		<string>NSApplication</string>
</dict>
</plist>
